.source.ruby {

  .meta.embedded {
    .punctuation.section {
      color: @green;
    }
  }
  .punctuation.definition {
    color: @yellow_string;
    &.string {
      color: @yellow_string_punctuation;
    }
  }
  .punctuation.definition.comment {
    color: @comment_v;
  }
  .entity.inherited-class {
    color: @yellow;
  }
  .variable {
    &.parameter {
      color: @blue_code;
    }
  }
  .variable.constant {
    color: @constant_orange;
  }
  .instance {
    .punctuation.definition {
      color: @blue_code;
    }
  }
  .class {
    color: @blue_code;
    &.control {
      color: @blue_code;
    }
  }
  .module {
    color: @yellow_string;
  }
  .require {
    .keyword.other.special-method {
      color: @blue_class;
    }
  }
  .keyword.other.special-method {
    color: @includes;
  }
  .keyword.other {
    color: @includes;
  }
  .keyword.control {
    color: @flow;
  }
  .special-method {
    color: @includes;
  }
  .symbol {
    color: @symbol;
    .punctuation.definition {
      color: @symbol;
    }
  }
  .hashkey {
    color: @purple_hashkey;
    .punctuation.definition {
      color: @purple_hashkey_punctuation;
    }
  }
  .string.regexp {
    color: @yellow_string_punctuation;
  }
  .todo {
    color: @magenta;
  }
  .variable.ruby.global {
    color: @includes;
    .punctuation {
      color: @includes;
    }
  }
  .variable.block {
    color: @blue_code;
  }
  .punctuation.separator {
    color: @green;
  }
  .string.interpolated {
    .embedded.line.ruby {
      .punctuation {
        .source.ruby {
          color: @yellow_interpolation_punctuation;
        }
      }
      .source.ruby {
        .punctuation.array,
        .punctuation.function {
          color: @blue_code;
        }
        color: @blue_code;
      }
    }
  }
  .support.function {
    color: @blue_code;
  }
  .support.function.kernel {
    color: @blue_code;
  }
}
